<!-- Navigation -->
<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">La vache qui Bit</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">

        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2 class="text-danger">What We Do</h2>
            <p>Service fiable. Livraison immédiate. Faibles commissions. Carte de crédit, cartes prépayées, tickets Neosurf.</p>
            <p>Nous vendons au prix de la place de marché Kraken + notre commission. / Sérieux - Coinhouse est un produit de la Maison du Bitcoin, située à Paris</p>
            <p>
            	<!-- Large modal -->
				<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Plus d' informations</button>
            </p>
        </div>
        <div class="col-sm-4">
            <h2 class="text-warning">Contact Us</h2>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(123) 456-7890
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        
        <div class="col-sm-6">
        	<div class="center text-success">
	            <%=fa_icon "cc-visa 5x"%>
	            <%=fa_icon "cc-amex 5x"%>
	            <%=fa_icon "cc-mastercard 5x"%>        		
        	</div>
            <h2>Achetez des Bitcoins en Carte Bancaire</h2>
			
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>

            <p>
            	1<i class="fa fa-btc" aria-hidden="true"></i> 
            	= <%= flash[:kraken]%>
            	<i class="fa fa-eur" aria-hidden="true"></i>
            	(source: <a href="https://www.kraken.com/charts" target="_blank">kraken.com</a>)
            </p>
			
			<%= form_tag("/buy", method: "get") do%>
				<%= number_field_tag("value")%>
				<%= submit_tag("Simulation")%>
			<%end%>
			<%if not flash[:btc_to_get].nil?%>
				<!-- <p><%# flash[:processing_fees]%></p>
				<p><%# flash[:monolok_fees]%></p> -->
				<button class="btn btn-default" type="submit">
					Achetez <%= flash[:btc_to_get]%>
					<i class="fa fa-btc" aria-hidden="true"></i> 
					pour <%= flash[:value]%>
					<i class="fa fa-eur" aria-hidden="true"></i>
				</button>
			<%end%>


        </div>
        
        <div class="col-sm-6">
			<%=fa_icon "line-chart 5x", class: "center text-primary"%>
            <h2>Épargne mensuelle automatique en bitcoin</h2>
            <p>Choisisser un montant que vous souhaiter mettre de coter chaque moi. De maniere automatique l'equivalent en bitcoins sera versé sur votre portefeuille digital chacque. Vous avez juste à le laisser foncioner tout seul. Pour vous aider à economiser de maniere automatique avec la monnais du future. Votre epargne de maniere automatique</p>
        </div>
<!--         <div class="col-sm-4">
			<%#fa_icon "credit-card 5x", class: "center"%>
            <h2>Vendez vos Bitcoins</h2>
            <p>La vente de Bitcoin sur notre plateforme contre paiement en Euro sur compte PayPal est à l'étude.</p>
        </div> -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; La vache qui Bit <%= Time.now.year%></p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<%# console%>

<!---------------------------------- Large modal ------------------------------------>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
		<div class="col-md-4">Prix du BTC et commissions: 1 BTC = 1,147.98 € (Kraken) 1 ETH = 20.75 € (Kraken) Notre commission va de 6% à 10% en fonction du volume cumulé d'achat</div>
		<div class="col-md-4">Paiements: Nous acceptons les cartes Visa et Mastercard qui ont l'option 3D secure (3DS) activée. Le 3DS nous assure une garantie de paiement. Toutes les banques françaises sont compatibles. Les cartes prépayées (type PCS ou autre) sont aussi acceptées. Le paiement en espèces est possible avec les tickets prépayés Neosurf (+10% de frais).</div>
		<div class="col-md-4">Validation & limites: Notre service adhère aux principes de connaissance client et lutte contre le blanchiment d'argent. Pour valider votre compte, une vérification d'identité (CNI, passeport) est nécessaire</div>
      </div>
      <div class="row">
      	
En combien de temps mon compte sera-t-il validé?

En moyenne, les jours ouvrés, comptez quelques heures maximum. Sinon comptez 24h.

Quels documents dois-je fournir pour valider mon compte?

Les documents suivants sont obligatoires:

votre pièce d'identité ou passeport (recto verso)
un selfie de vous tenant votre pièce d'identité
un justificatif de domicile (facture électricité, gaz, téléphone...)
Les fichiers doivent être des images au format JPG ou PNG, maximum 5Mo chacun. Nous n'acceptons pas les PDF ou les fichiers compressés (ZIP, RAR...). Les photos de mauvaise qualité (floue, illisibles) ou de basse résolution seront rejetées.

Quelles sont vos commissions ?

La commission dépend du volume cumulé d'achat :

jusqu'à 500€ : 10%
de 500€ à 1,500€ : 9%
de 1,500€ à 3,000€ : 8%
de 3,000€ à 5,000€ : 7%
de 5,000€ à 10,000€ : 6.5%
plus de 10,000€ : 6%
Par exemple, si vous achetez pour 500€ votre commission sera de 10%. Si vous revenez et rachetez pour 500€ à nouveau alors votre commission sur cette transaction sera de 9%.

Puis-je payer avec une carte non EUR?

Oui, si elle est 3D secure. Votre banque facturera probablement une commission de change supplémentaire.

Acceptez-vous les cartes prépayées ?

Nous ne pouvons pas garantir qu'une carte prépayée sera acceptée sur notre site, cela dépend entièrement de la marque de carte bleue en question.

Comment payer en espèces?

Nous acceptons les tickets prépayés Neosurf (jusqu'à 250€ par transaction). Il suffit de vous rendre dans l'un des 50 000 points de ventes pour acheter en espèces des tickets puis venir les convertir ici en bitcoins.

Attention, des frais supplémentaires de 10% sont prélevés par Neosurf lors de la transaction (avec un minimum de 18%).

Puis-je acheter des ether (ETH) ?

Vous pouvez acheter des ether (ETH, pour Ethereum) par carte de crédit ou Neosurf sur notre site. Les commissions sont les même. Pour le portefeuille Ethereum, nous vous conseillons d'utiliser Jaxx

Quand vais-je recevoir mes bitcoins ou ether ?

L'envoi des bitcoins est immédiat après la validation de votre paiement.

Est-ce possible de vendre des BTC/ETH contre des EUR ?

Oui, nous rachetons vos bitcoins ou ether et nous vous payons par virement SEPA (comptez entre 1 et 7 jours pour recevoir les fonds).

Qui êtes vous ?

Coinhouse est un service de La Maison du Bitcoin et Ledger

Comment vous contacter pour le support ?

Envoyez nous un email à support@coinhouse.io , appelez nous au +33 9 67 30 01 71 ou venez nous rendre visite à La Maison du Bitcoin, 35 rue du Caire, Paris 2e.
      </div>
    </div>
  </div>
</div>